{%extends 'booking/index.html' %}

{%block title%}{%endblock%}

{%block content%}
{% if audiences%}
    {% for floor in floors %}
        <div>
            <h1>{{floor}} этаж</h1>
            {% for audience in audiences %}
                {% if floor == audience.floor %}
                    <div> <a href="{% url 'audience_detail' campus=audience.campus.id audience_id=audience.id %}"> {{audience.title}} </a> </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <p> No available audiences.</p>
{% endif %}
{%endblock%}
