

.schedule {
    &__period {
        font-size: 18px;
        font-weight: 600;
        color: #868686;

    }

    .period {
        &__week::before {
            content: '•';
            display: inline-block;
            margin-right: 4px;

        }
    }

    &__nav {
        display: flex;
        gap: 20px;
        margin-bottom: 32px;
        &-prevWeek, &-nextWeek {
          padding: 6.5px 15px;
          border: 1px solid #868686;
          border-radius: 20px;
          font-size: 14px;
          font-weight: 600;
          color: #868686;

          display: flex;
          align-items: center;
          gap: 10px;
          img {display: inline-block; margin-bottom: -2px;}
        }
    }

    .main-container {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        padding: 60px 40px;
        .main__back {
            margin-top: 10px;
        }
        .main__title {
            padding: 0;
        }
    }
}

.schedule__table {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.column { 
}

.table__field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 85px;
    border-right: 1px solid #868686;
    border-bottom: 1px solid #868686;
}
.reservation {
    font-weight: bold;
}


.schedule {
    &__table {
    }
}

.table {

    &__column {
    }

    &__element {

    }

    &__class-time {

    }

    &__heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20px;
        height: 43px;
        border-right: 1px solid #868686;
        border-bottom: 1px solid #868686;
        &-weekday {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        &-date {
            font-size: 12px;
            color: #868686;
        }
    }

    &__field {
        position: relative;

    }

    &__subject { 
        margin: 5px auto;
        padding: 5px 8px;
        width: 165px;
        height: 69px;
        border: 1px solid transparent;
        border-radius: 5px;

        &.practice {
            border-color: #096DD9;
            background-color: rgba(145, 213, 255, 0.3);
            color: #096DD9;
        } 

        &.seminar {
            border-color: #D46B08;
            background-color: rgba(255, 213, 145, 0.3);
            color: #D46B08; 
        }
        
        &.lecture {
            border-color: #CF1322;
            background-color: rgba(255, 163, 158, 0.3);
            color: #CF1322;
        }

        &.consultation {
            border-color: #D909D1;
            background-color: rgba(220, 145, 255, 0.3);
            color: #D909D1;
        }

        &.examination {
            border-color: #531DAB;
            background-color: rgba(211, 173, 247, 0.3);
            color: #531DAB;
            
        }

        .subject {
            &__name {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 5px;
            }
    
            &__teacher {
                font-size: 10px;
            }        
        }
    }

    .bookNow {
        visibility: hidden;
        display: flex;
        opacity: 0;
        position: absolute;
        top: 5px;
        width: 165px;
        height: 28px;
        margin: 5px auto;
        background-color: rgba(145, 255, 163, 0.3);
        border-radius: 20px;
        align-items: center;
        justify-content: center;
        border: 0px;
        transition: all 0.2s ease-in-out;
        &__inner {
            display: flex;
            img {
                position: absolute;
                top: 6px;
                left: 15px;
            }
            p {
                color: #00BC1E;
                font-size: 12px;
                font-weight: 500;
                margin-left: 8px;
            }
        }
    }
}


.ct {

    &__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60px;
        height: 85px;
        border-right: 1px solid #868686;

    }

    &__row-corner {
        height: 42.5px;
        border: none;
    }

    &__timestamp-from {
        font-size: 14px;
        font-weight: 600;
        color: #000;
    }

    &__timestamp-to {
        font-size: 14px;
    }
}

.pop-ups {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(46, 41, 41, 0.6);
    &.active {
        display: block;
        overflow-x: scroll;
    }
}

.pop-up {
        width: 550px;
        min-height: 631px;
        border-radius: 20px;
        margin: 20px auto;
        z-index: 100;
        padding: 30px;
        background-color: #fff;


		&__bookingForm {
		}
}

.form {

        #id_time_start, #id_time_end, #id_speaker, #id_type {display: none;}

		&__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #868686;
            padding-bottom: 29.5px;
            margin-bottom: 40.5px;
		}

		&__header-title {
            font-size: 24px;
            font-weight: 500;
            color: #868686;
		}

		&__header-CloseBtn {
            display: inline-flex;
            margin-bottom: -5px;
            cursor: pointer;
		}

		&__field-auto {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &.form__field-auto-hidden {
                display: none;
            }
		}

		&__field-heading {
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
            color: #868686;
		}

		&__field-value {
            color: #0072BC;
            font-size: 18px;
            display: flex;
            &::placeholder {
                color: #0072BC;
            }

            &-From, &-To {
                max-width: max-content;
                width: 100%;     
                overflow: hidden;  

            }

            &-From {
                &:after {
                    display: inline-block;
                    margin: 0px 5px;
                    content: '-';
                }
            }

		}

		&__field-manual {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
		}

		&__input, #id_title {
            width: 100%;
            padding: 10px 30px;
            border: 1px solid #868686;
            border-radius: 40px;
            font-size: 16px;
            color: #868686;
		}

        .custom-select {
            position: relative;
            width: 280px;
            &::selection {
                background-color: transparent;
            }
          }
          
          .custom-select__sfield {
            display: flex;
            justify-content: space-between;
            padding: 5px 30px;
            border-radius: 20px;
            font-size: 16px;
            color: #868686;
            border: 1px solid transparent;
            border-color: #868686;
            cursor: pointer;
          }
          
          .custom-select__soption {
            padding: 5px 0px;
          }

          .custom-select__soption-icon {
            transform: rotateZ(0deg);
            transition: transform 0.3s ease-in-out;
      }

          .custom-select__soption-icon.active {
                transform: rotateZ(180deg);
          }
          
          .custom-select__list {
            background-color: #fff;
            display: none;
            width: 100%;
            flex-direction: column;
            gap: 12px;
            position: absolute;
            top: 100%;
            z-index: 100;
            padding: 20px 25px;
            
          }
          
          .custom-select__list.show {
            display: flex;
            border-radius: 0px 0px 10px 10px;
            
            opacity: 1;
            visibility: visible;
            box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
          }
          
          .custom-select__option {
            width: max-content;
            padding: 5px 20px;
            border-radius: 20px;
            border: 1px solid transparent;
            
            cursor: pointer;
          }
              
          .s-typed {
              font-size: 16px;
          }
          
          .lecture-typed {
              border-color: #CF1322;
              background-color: rgba(255,163,158,0.3);
              color: #CF1322;
          }
          
          .practice-typed {
              border-color: #096DD9;
              background-color: rgba(145,213,255,0.3);
              color: #096DD9;
          }
          
          .seminar-typed {
              border-color: #D46B08;
              background-color: rgba(255,213,145,0.3);
              color: #D46B08; 
          }
          
          .exam-typed {
              border-color: #531DAB;
              background-color: rgba(211,173,247,0.3);
              color: #531DAB;
          }
          
          .lab-typed {
              border-color: #D909D1;
              background-color: rgba(220,145,255,0.3);
              color: #D909D1;
          }

        &__button {
            width: 100%;
            display: flex;
            padding: 8px 0px;
            background-color: #0072BC;
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            font-weight: 700;
            line-height: 150%;
            color: #fff;
        }

        @media (max-width: 1280px) {
            .custom-select__list {
                flex-direction: column-reverse;
                top: -300px;
                background-color: #fff;
                border-radius: 10px 10px 0px 0px;
            }
        }
}