{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- * Пример загрузки стилей из ../../../static/ :-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <title>{%block title%}{%endblock%}</title>
</head>
<body>

    <!-- todo Здесь должен находиться основной каркас приложения. (можно реализовать с помощью flex или grid) -->

    
    {%block content%}
    <!-- ! Контент из этого блока находится в ./main_func -->
    {%endblock%}

</body>

<!-- * Пример загрузки скриптов из ../../../static/ : -->
<script src="{% static 'js/script.js' %}"></script>

</html>